@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('font/opensans-regular.eot');
  src: url('font/opensans-regular.eot?#iefix') format('embedded-opentype'), url('font/opensans-regular.woff') format('woff'), url('font/opensans-regular.ttf') format('truetype'), url('font/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'OpenSans-Semibold';
  src: url('font/opensans-semibold.eot');
  src: url('font/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('font/opensans-semibold.woff') format('woff'), url('font/opensans-semibold.ttf') format('truetype'), url('font/opensans-semibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'roboto-regular';
  src: url('font/roboto-regular.woff') format('woff'), url('font/roboto-regular.woff') format('truetype'), url('font/roboto-regular.woff#robotoRegular') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'robotoCondensed-regular';
  src: url('font/robotocondensed-regular.woff') format('woff'), url('font/robotocondensed-regular.ttf') format('truetype'), url('font/robotocondensed-regular.svg#robotoCondensed-regular') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'robotoSlab-light';
  src: url('font/robotoslab-light.woff') format('woff'), url('font/robotoslab-light.ttf') format('truetype'), url('font/robotoslab-light.svg#robotoCondensed-regular') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'robotoSlab-regular';
  src: url('font/robotoslab-regular.woff') format('woff'), url('font/robotoslab-regular.ttf') format('truetype'), url('font/robotoslab-regular.svg#robotoSlab-regular.') format('svg');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'twcenmt';
  src: url('font/twcenmt-condensed.woff') format('woff'), url('font/twcenmt-condensed.ttf') format('truetype'), url('font/twcenmt-condensed#rtwcenmt-condensed.') format('svg');
}
