.preassessment .question-title {
    color: #3e3d40;
    font-size: 20px;
    font-family: 'latoRegular';
    padding-bottom:10px;
    word-wrap: break-word;
    border-bottom: 3px solid #9ad3d6;
    margin-bottom:40px;
}

.preassessment .question-content {
    
    word-wrap: break-word;
    overflow: auto;
    color:#9e9e9e;    
    font-family: 'latoLight';
    font-size: 18px;
    margin-bottom:40px;
    margin-top:-20px;
}

.preassessment .submit-wrapper {
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
}


@media (max-width: 640px) {
    .preassessment .submit-wrapper .button {
        width: 100%;
    }
}
