.preassessment .question-title {
    color: #000;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    word-wrap: break-word;
}

.preassessment .question-content {
    margin-top: 10px;
    word-wrap: break-word;
    overflow: auto;
}

.preassessment .submit-wrapper {
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
}


@media (max-width: 640px) {
    .preassessment .submit-wrapper .button {
        width: 100%;
    }
}
