.preassessment .question-title {
    color: #111111;
    font-size: 20px;
    font-family: 'robotoSlab-regular','OpenSans';
    padding-bottom: 10px;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.preassessment .styled-content {
    font-family: 'robotoSlab-light','OpenSans';
    color:#000000;
}


.preassessment .question-content {
    word-wrap: break-word;
    overflow: auto;
    color: #9e9e9e;
    font-family: 'robotoSlab-light','OpenSans';
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: -20px;
}

.preassessment .submit-wrapper {
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
}

.canvas-wrapper {
    width: 240px;
    background-color: transparent;
    position: absolute;
    right: 0;
    color:#f4f4f4;
    bottom:10px;
    text-align:left;
}

    .canvas-wrapper div {
        color: white;
        font-size: 12px;
    }

.answered {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 82px;
    text-align: center;
}

.canvas-wrapper .progress {
    font-size: 14px;
}

.canvas-wrapper canvas {
    position: absolute;
    right: 0;
    top: 0;
}

.alternative-header {
    height: 0;
    opacity: 0;
    width: 100%;
    background-image: url(../images/header-bg.jpg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 251;
    -webkit-background-size: initial;
    -webkit-background-position: 0 170px;
    background-size: initial;
    background-position: 0 -296px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(189,189,190,1);
    -moz-box-shadow: 0px 5px 8px 0px rgba(189,189,190,1);
    box-shadow: 0px 5px 8px 0px rgba(189,189,190,1);
    transition: transform 0.5s;
    transform: translateY(-120px);
}

    .alternative-header .canvas-wrapper {
        right: 25px;
        background-image: url(../images/header-bg.jpg);
        border-radius: 50%;
    }

    .alternative-header h2 {
        color: #ffffff;
        text-transform: inherit;
        font-size: 25px;
        font-family: 'latoSemiBold','OpenSans';
        letter-spacing: 0.3px;
        text-align: left;
        margin-top: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
        text-align: left;
    }

    .alternative-header.show {
        transform: translateY(0);
        height: 80px;
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -moz-transform: translateZ(0);
    }

@media (max-width: 640px) {
    .preassessment .submit-wrapper .button {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .alternative-header h2 {
        font-size: 20px;
    }

    .preassessment .question-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .preassessment .question-content {
        margin-bottom: 20px;
    }
}
