.logo-header {
    padding: 10px 15px;
    background-color: #7dc9cd;
    height: 70px;
}

.logo {
    border: none;
    max-height: 50px;
    max-width: 300px;
    background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        display: block;
        height: 37px;
        margin: 5px;
}

.container-content-wrapper {
    max-width: 970px;
    padding-left:5px;
    padding-right:5px;
    margin: auto;
}
@media (max-width: 640px) {
    .container-content-wrapper {
        width:100%
    
    }

}