.logo-header {
    padding: 10px 15px;
    background-color: #7dc9cd;
    height: 70px;
}

.logo {
    border: none;
    max-height: 50px;
    max-width: 300px;
}
.logo-container{
    width: 960px;
    margin: auto;
}


    .logo.default {
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        display: block;
        height: 37px;
        margin: 5px 0px;
    }
