.studyadvice .button.finish {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.studyadvice .objective-to-learn {
    text-align: center;
}

.studyadvice .objective-title {
    margin: 20px 0;
    color: #555555;
    text-align: center;
    font-size: 14px;
    font-family: 'OpenSans';
}

.studyadvice .objective-progress {
    margin: 0 auto;
    width: 350px;
}

.studyadvice .objective-action-wrapper {
    position: relative;
    margin-top: 10px;
    height: 40px;
}

.objective-action {
    position: absolute;
    right: 0;
}

.studyadvice .button.expand, .studyadvice .button.collapse {
    padding: 10px 0 8px;
    border-bottom: 2px solid transparent;
    -ms-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    cursor: pointer;
}

.studyadvice .button.expand {
    color: #00adee;
}


    .studyadvice .button.expand:hover {
        border-bottom-color: #00adee;
    }

    .studyadvice .button.expand:after {
        display: inline-block;
        margin-left: 10px;
        width: 10px;
        height: 11px;
        background: url(../images/sprite.png) 0 -389px no-repeat;
        content: "";
    }

.studyadvice .button.collapse {
    color: #999999;
}

    .studyadvice .button.collapse:hover {
        border-bottom-color: #999999;
    }

    .studyadvice .button.collapse:after {
        display: inline-block;
        margin-left: 10px;
        width: 10px;
        height: 11px;
        background: url(../images/sprite.png) -15px -389px no-repeat;
        content: "";
    }


.studyadvice .objective-recommended-reading {
    display: table;
    width: 100%;
}

.studyadvice .objective-recommended-reading-title {
    display: table-cell;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    color: #3c3c3c;
    vertical-align: middle;
}

.studyadvice .objective-recommended-reading-start {
    display: table-cell;
    padding-left: 20px;
    width: 1%;
    vertical-align: middle;
}

.studyadvice .mastered-objective {
    display: table;
    margin-bottom: 40px;
    width: 100%;
}

    .studyadvice .mastered-objective:last-child {
        margin-bottom: 0;
    }

    .studyadvice .mastered-objective > div {
        display: table-cell;
        vertical-align: middle;
    }


.studyadvice .mastered-objective-title-with-image {
    display: table;
    width: 100%;
}

    .studyadvice .mastered-objective-title-with-image > div {
        display: table-cell;
        vertical-align: middle;
    }

.studyadvice .mastered-objective-image-wrapper {
    width: 1%;
}

.studyadvice .mastered-objective-image {
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) 0 -74px no-repeat;
}

.studyadvice .mastered-objective-title {
    padding-left: 15px;
    color: #3c3c3c;
}

.studyadvice .mastered-objective-progress {
    padding-left: 20px;
    width: 370px;
}


@media (max-width: 640px) {
    .studyadvice .mastered-objective {
        display: block;
    }

        .studyadvice .mastered-objective > div {
            display: block;
        }

    .studyadvice .mastered-objective-progress {
        margin-top: 20px;
        padding-left: 46px;
        width: 396px;
    }
}
