.studyadvice .button.finish {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.studyadvice .objective-to-learn {
    background-color: #ffffff;
    border-radius: 5px;
    border-bottom: 3px solid #9ad3d6;
    height: 152px;
    width: 960px;
}

.studyadvice .objective-title {
    margin: 20px 30px;
    width: 830px;
    color: #555555;
    font-size: 14px;
    font-family: 'OpenSans';
}

.learning-objective{
    margin-left: 30px;
    margin-top: 30px;
}


.studyadvice .objective-progress {
    width: 350px;
    display: inline-block;
}

.studyadvice .objective-action-wrapper {
    position: absolute;
    margin-top: -66px;
    margin-left: 880px;

    width: 80px;
}

.objective-action {
    position: absolute;
    right: 0;
}

.studyadvice .button.expand, .studyadvice .button.collapse {
    padding: 10px 0 8px;
    -ms-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    cursor: pointer;
}

.studyadvice .button.expand {
    width: 67px;
    height: 77px;
    display: inline-block;
    background-color: #dff1f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-repeat: no-repeat;

}


    .studyadvice .button.expand:hover {

    }

    .studyadvice .button.expand:after {
        display: inline-block;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        background: url(../images/down-arrow.png) no-repeat;
        content: "";
    }

.studyadvice .button.collapse {
    width: 67px;
    height: 150px;
    display: inline-block;
    background-color: #e9fbff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
}

    .studyadvice .button.collapse:hover {
        border-bottom-color: #999999;
    }

    .studyadvice .button.collapse:after {
        display: inline-block;
        margin-left: 10px;
        width: 10px;
        height: 11px;
        background: url(../images/sprite.png) -15px -389px no-repeat;
        content: "";
    }
.blue-background{
    background-color: #e9fbff;
    margin-top: -3px;
}

.reading-title{
    color: #ef4535;
}

.studyadvice .objective-recommended-readings {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.studyadvice .objective-recommended-reading {
    display: table-row;
}

.studyadvice .objective-recommended-reading-title {
    display: table-cell;
    padding: 25px 0;
    color: #3c3c3c;
    vertical-align: middle;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.studyadvice .objective-recommended-reading-start {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    text-align: right;
}

.start{
    height: 42px;
    width: 118px;
    border: 1px solid #cd5a48;
    text-transform: uppercase;
}


.studyadvice .mastered-objective {
    display: table;
    margin-bottom: 40px;
    width: 100%;
}

    .studyadvice .mastered-objective:last-child {
        margin-bottom: 0;
    }

    .studyadvice .mastered-objective > div {
        display: table-cell;
        vertical-align: middle;
    }


.studyadvice .mastered-objective-title-with-image {
    display: table;
    width: 100%;
}

    .studyadvice .mastered-objective-title-with-image > div {
        display: table-cell;
        vertical-align: middle;
    }

.studyadvice .mastered-objective-image-wrapper {
    width: 1%;
}

.studyadvice .mastered-objective-image {
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) 0 -74px no-repeat;
}

.studyadvice .mastered-objective-title {
    padding-left: 15px;
    color: #3c3c3c;
}

.studyadvice .mastered-objective-progress {
    padding-left: 20px;
    width: 370px;
}




@media (max-width: 640px) {
    .studyadvice .mastered-objective {
        display: block;
    }

        .studyadvice .mastered-objective > div {
            display: block;
        }

    .studyadvice .mastered-objective-progress {
        margin-top: 20px;
        padding-left: 46px;
        width: 396px;
    }
}
