.summary {
    position: relative;
    color: #000;
}

    .summary .button.close-course {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .summary .course-progress {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -175px;
        width: 350px;
    }


        .summary .course-progress .progress-bar-value {
            background-color: #00adee;
        }

    .summary .objective {
        display: table;
        margin-bottom: 60px;
        width: 100%;
    }

        .summary .objective:first-child {
            margin-top: 25px;
        }

        .summary .objective:last-child {
            margin-bottom: 0;
        }

        .summary .objective > div {
            display: table-cell;
            vertical-align: middle;
        }


.summary .objective-title {
    color: #3c3c3c;
}

.summary .objective-progress {
    padding-left: 20px;
    width: 370px;
    color: #3c3c3c;
    text-align: center;
    font-size: 14px;
}


.summary .loader-wrapper {
    display: none;
}

.summary.disabled .loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}


@media (max-width: 640px) {
    .summary .objective {
        display: block;
    }

        .summary .objective > div {
            display: block;
        }

    .summary .objective-progress {
        margin-top: 20px;
        padding-left: 0;
        width: 350px;
    }
}

@media (max-width: 1024px) {
    .summary .course-progress {
        left: 0;
        margin-left: 0;       
    }
}