.summary {
    position: relative;
    color: #000;
}

.summary-title {
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 3px solid #9ad3d6;
    color: #61b0b4;
    font-family: 'roboto-regular','OpenSans';
}

.view-header .progress-text-wrapper {
    color: white;
    font-size: 28px;
}

.summary .content {
    border-bottom-color: #9ad3d6;
}

.summary .button.close-course {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.summary .course-progress {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -175px;
    width: 350px;
}

.summary .objective {
    display: table;
    margin-bottom: 60px;
    width: 100%;
}

    .summary .objective:first-child {
        margin-top: 25px;
    }

    .summary .objective:last-child {
        margin-bottom: 0;
    }

    .summary .objective > div {
        display: table-cell;
        vertical-align: middle;
        text-align: justify;
    }

.summary .objective-title {
    font-size: 18px;
    font-family: "robotoSlab-regular",'OpenSans';
    color: #3e3d40;
    line-height: 36px;
}

.summary .objective-progress {
    padding-left: 20px;
    width: 100px;
    color: #3c3c3c;
    text-align: center;
    font-size: 14px;
}


.summary .loader-wrapper {
    display: none;
}

.summary.disabled .loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

.empty-div {
    display: table-cell;
    width: 7%;
}

.circle-canvas-wrapper {
    width:100px;
    position:relative;
    height:100px;
}
    .circle-canvas-wrapper div {
        position:absolute;
        top:50%;
        width:100%;
        font-size:25px;
        margin-top:-12px;
        text-align:center;
        font-family:'twcenmt';
        color:#eda646;
    }
    .circle-canvas-wrapper.fail div {
        color:#f16162;
    }
    .circle-canvas-wrapper.success div {
        color:#3e9c96;
    }



@media (max-width: 640px) {
    .summary .objective {
        display: block;
    }

        .summary .objective > div {
            display: block;
            text-align: center;
            margin: auto;
        }

    .summary .objective-progress {
        margin-top: 20px;
        padding-left: 0;
        width: 350px;
    }
}
@media screen and (max-width:320px) {
    .summary .objective-progress {
        width: 280px;
    }

    .summary .course-progress {
        left: 35px;
        top: 0;
        margin-left: 0;
        width: 250px;
    }
}
