/*xApi page region*/
/*xApi container border color*/
@xApi-container-border-color:#9ad3d6;
/*xApi title color*/
@xAPi-title-color:#555555;
/*xApi title font size*/
@xApi-title-font-size:30px;
/*xApi error message font color and input border*/
@xApi-error-color:#f16162;
/*xApi error message font size*/
@xApi-error-font-size:12px;
/*xApi placeholder font color*/
@xApi-placeholder-font-color:#c8d1d7;
/*xApi inputs border color*/
@xApi-input-border-color:#c8d1d7;
/*xApi inputs border style*/
@xApi-input-border-style:solid;
/*xApi inputs border width*/
@xApi-input-border-width:1px;
/*xApi inputs font color*/
@xApi-input-font-color: #3c3c3c;
/*xApi inputs font size*/
@xApi-input-font-size: 22px;
/*xApi input hover and focus border color*/
@xApi-input-hover-border-color:#49b8e7;
/*do not report button font color*/
@do-not-report-font-color:#8c8c8e;
/*xApi agreement border style*/
@xApi-agreement-border-style:solid;
/*xApi agreement border width*/
@xApi-agreement-border-width:1px;
/*xApi agreement border color*/
@xApi-agreement-border-color:#edf1f1;
/*xApi agreement font color*/
@xApi-agreement-color:#8c8c8e;
/*xApi agreement font size*/
@xApi-agreement-size:12px;

/*checkbox and radiobutton region*/
/*checkbox and radiobutton background color*/
@checkbox-radio-background-color:rgba(200,209,215,.2);
/*checkbox and radiobutton border width*/
@checkbox-radio-border-width:1px;
/*checkbox and radiobutton border style*/
@checkbox-radio-border-style:solid;
/*checkbox and radiobutton border color*/
@checkbox-radio-border-color:rgba(200,209,215,.2);
/*checkbox and radiobutton border color*/
@checkbox-radio-border-radius:5px;
/*checkbox and radiobutton hover border color*/
@checkbox-radio-hover-border-color:#cce9dc;
/*checkbox and radiobutton hover background color*/
@checkbox-radio-hover-border-color:#f9f9f9;
/*checkbox and radiobutton background color*/
@checkbox-radio-hover-background-color:#ffffff;
/*checkbox and radiobutton checked background color*/
@checkbox-radio-checked-background-color:#e7f7f0;
/*radiobutton checked background color*/
@radioicon-checked-background-color:#88d8b5;

/*drag and drop region*/

