/*checkbox and radiobutton region*/

/*checkbox and radiobutton background color*/
@checkbox-radio-background-color:rgba(200,209,215,.2);
/*checkbox and radiobutton border width*/
@checkbox-radio-border-width:1px;
/*checkbox and radiobutton border style*/
@checkbox-radio-border-style:solid;
/*checkbox and radiobutton border color*/
@checkbox-radio-border-color:rgba(200,209,215,.2);
/*checkbox and radiobutton border color*/
@checkbox-radio-border-radius:5px;
/*checkbox and radiobutton hover border color*/
@checkbox-radio-hover-border-color:#cce9dc;
/*checkbox and radiobutton hover background color*/
@checkbox-radio-hover-border-color:#f9f9f9;
/*checkbox and radiobutton checked background color*/
@checkbox-radio-checked-background-color:#e7f7f0;
/*radiobutton checked background color*/
@radioicon-checked-background-color:#88d8b5;

