<section class="studyadvice view">
    <header class="view-header">
        <h2 data-translate-text="[study advice]">Study advice</h2>
        <a href="#summary" class="button finish  " data-bind="click: finish">Finish course</a>
    </header>

    <!-- ko if: objectivesToLearn.length -->
    <ul class="unstyled" data-bind="foreach: objectivesToLearn">
        <li>
            <div class="container" data-bind="heightAnimation:{isExpanded:isExpanded}">
                <div class="objective-to-learn">
                    <div class="objective-to-learn-content-wrapper">
                        <div class="objective-to-learn-progress-wrapper">
                            <div class="learning-objective" data-translate-text="[learning objective]">Learning objective</div>
                            <div class="objective-progress learning-objective">
                                <div data-bind="progress: score"></div>
                            </div>
                        </div>
                        <div class="objective-title" data-bind="text: title"></div>
                    </div>
                    <div class="objective-action-wrapper">
                        <button class="button" data-bind="click: toggleExpand, css: { expand: !isExpanded(), collapse: isExpanded }"> </button>
                    </div>
                </div>
                <div class="content blue-background" data-animate="">
                    <div class="reading-title" data-translate-text="[recommended reading]">Recommended reading</div>
                    <ul class="objective-recommended-readings" data-bind="foreach: recommended">
                        <li class="objective-recommended-reading">
                            <div class="objective-recommended-reading-title">
                                <span data-bind="text: title"></span>
                            </div>
                            <div class="objective-recommended-reading-start">
                                <button class="button start" data-bind="click: $parent.startRecommendedReading" data-translate-text="[start]">Start</button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </li>
    </ul>
    <!-- /ko -->
    <!-- ko if: learntObjectives.length -->
    <div class="container content">
        <div class="objectives" data-translate-text="[mastered objectives]">You have already mastered the following learning objectives:</div>
        <hr>
        <ul class="unstyled" data-bind="foreach: learntObjectives">
            <li class="mastered-objective">
                    <div class="mastered-objective-title" data-bind="text: title"></div>
                <div class="mastered-objective-progress">
                    <div class="mastered-objective-round" data-bind="text: score+'%'"></div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /ko -->

</section>
