<section class="studyadvice view">
    <header class="view-header">
        <h2 data-translate-text="[study advice]">Study advice</h2>
        <a href="#summary" class="button success medium finish" data-translate-text="[finish course]" data-bind="click: finish">Finish course</a>
    </header>

    <!-- ko if: objectivesToLearn.length -->
    <ul class="unstyled" data-bind="foreach: objectivesToLearn">
        <li>
            <div class="container">
                <div class="objective-to-learn">
                    <h3 data-translate-text="[learning objective]">Learning objective</h3>
                    <div class="objective-title" data-bind="text: title"></div>
                    <div class="objective-progress">
                        <div data-bind="progress: score"></div>
                    </div>
                    <div class="objective-action-wrapper">
                        <div class="objective-action">
                            <!-- ko ifnot: isExpanded -->
                            <button class="button expand" data-bind="click: expand"><span class="objective-action-text" data-translate-text="[show recommended reading]">Show recommended reading</span></button>
                            <!-- /ko -->
                            <!-- ko if: isExpanded -->
                            <button class="button collapse" data-bind="click: collapse"><span class="objective-action-text" data-translate-text="[hide recommended reading]">Hide recommended reading</span></button>
                            <!-- /ko -->
                        </div>

                    </div>

                </div>
                <!-- ko if: isExpanded -->
                <div class="content">
                    <h3 data-translate-text="[recommended reading]">Recommended reading</h3>
                    <hr />
                    <ul class="objective-recommended-readings" data-bind="foreach: recommended">
                        <li class="objective-recommended-reading">
                            <div class="objective-recommended-reading-title">
                                <span data-bind="text: title"></span>
                            </div>
                            <div class="objective-recommended-reading-start">
                                <button class="button info medium" data-translate-text="[start]" data-bind="click: $parent.startRecommendedReading">Start</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: isExpanded -->
                <hr style="margin: 0" />
                <!-- /ko -->
            </div>

        </li>
    </ul>
    <!-- /ko -->
    <!-- ko if: learntObjectives.length -->
    <div class="container">
        <h3 data-translate-text="[mastered objectives]">you have already mastered the following learning objectives:</h3>
        <hr />
        <ul class="unstyled" data-bind="foreach: learntObjectives">
            <li class="mastered-objective">
                <div>
                    <div class="mastered-objective-title-with-image">
                        <div class="mastered-objective-image-wrapper">
                            <div class="mastered-objective-image"></div>
                        </div>
                        <div class="mastered-objective-title">
                            <div data-bind="text: title"></div>
                        </div>
                    </div>
                </div>
                <div class="mastered-objective-progress">
                    <div data-bind="progress: score"></div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /ko -->

</section>
