<section class="studyadvice view">
    <header class="view-header">
        <h2 data-translate-text="[study advice]">Study advice</h2>
        <a href="#summary" class="button finish  " data-translate-text="[finish course]" data-bind="click: finish, visible:!sectionsToLearn.length">Finish course</a>
    </header>

    <!-- ko if: sectionsToLearn.length -->
    <ul class="unstyled" data-bind="foreach: sectionsToLearn">
        <li>
            <div class="container" data-bind="toggleVisible:{isExpanded:isExpanded}">
                <div class="section-to-learn">
                    <div class="section-to-learn-content-wrapper">
                        <div class="section-to-learn-progress-wrapper">
                            <div class="learning-section" data-translate-text="[learning section]">Learning section</div>
                            <div class="section-progress learning-section">
                                <div data-bind="progress: score"></div>
                            </div>
                            <div class="progress-text-wrapper" data-bind="text:score+'%'"></div>
                        </div>
                        <div class="section-title" data-bind="text: title"></div>
                    </div>
                    <div class="section-action-wrapper">
                        <button class="button" data-bind="click: toggleExpand, css: { expand: !isExpanded(), collapse: isExpanded }"> </button>
                    </div>
                </div>
                <div class="content section-recommended-reading-wrapper" data-animate="">
                    <div class="reading-title" data-translate-text="[recommended reading]">Recommended reading</div>
                    <ul class="section-recommended-readings" data-bind="foreach: recommended">
                        <li class="section-recommended-reading">
                            <div class="section-recommended-reading-title">
                                <span data-bind="text: title"></span>
                            </div>
                            <div class="section-recommended-reading-start">
                                <button class="button start" data-bind="click: $parent.startRecommendedReading">
                                    <span class='button-text' data-translate-text="[start]">Start</span>

                                </button>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </li>
    </ul>
    <!-- /ko -->
    <!-- ko if: learntSections.length -->
    <div class="container mastered-section-holder content">
        <div class="sections" data-translate-text="[mastered sections]">You have already mastered the following learning sections:</div>
        <hr>
        <ul class="unstyled" data-bind="foreach: learntSections">
            <li class="mastered-section">
                <div class="mastered-section-title" data-bind="text: title"></div>
                <div class="mastered-section-progress">
                    <div class="mastered-section-round" data-bind="text: score+'%'"></div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /ko -->

</section>
