<section class="preassessment view">
    <header class="view-header">
        <h2>Pre-assessment</h2>
    </header>
    <form data-bind="submit: submit">
        <ul class="unstyled">
            <!-- ko foreach: questions -->

            <div class="question-number"><div class="round" data-bind="text: $index() + 1"></div></div>
            <li class="content container">
                <div class="question-title">
                    <span data-bind="text: title"></span>
                </div>
                <!-- ko compose: { model: $data, mode: 'templated' } -->
                <!-- /ko -->
            </li>
            <!-- /ko -->
            <li>
                <div class="submit-wrapper">
                    <button class="button info large emphasize">Submit</button>
                </div>
            </li>
        </ul>
    </form>
</section>
