<section class="preassessment view">
    <header class="view-header">
        <h2>Pre-assessment</h2>
        <div class="canvas-wrapper" data-bind="showProgress:{progress:progress,questions:questions}">

            <div class='progress' data-bind="text:progress()+ '/' + questions().length"></div>
            <div>answered</div>
            <canvas class="progress-renderer"></canvas>
        </div>
    </header>
    <header class="alternative-header ">
        <div class="container-content-wrapper">
            <h2>Pre-assessment</h2>
            <div class="canvas-wrapper" data-bind="showProgress:{progress:progress,questions:questions}">

                <div class='progress' data-bind="text:progress()+ '/' + questions().length"></div>
                <div>answered</div>
                <canvas class="progress-renderer"></canvas>
            </div>
        </div>
    </header>
    <form data-bind="submit: submit">
        <ul class="unstyled">
            <!-- ko foreach: questions -->

           
            <li >
                <div class="question-number-wrapper" data-bind="text: $index() + 1"></div>
                <div class="content container">
                    <div class="question-title">
                        <span data-bind="text: title"></span>
                    </div>
                    <!-- ko compose: { model: $data, mode: 'templated' } -->
                    <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <li>
                <div class="submit-wrapper">
                    <button class="button success large emphasize">Submit</button>
                </div>
            </li>
        </ul>
    </form>
</section>
