<section class="view xApi-login">
    <header class="view-header"></header>

    <form class="container" data-bind="submit: report">
        <div class="content">
            <div class="form-caption" data-translate-text="[tracking and tracing header]">
                Your credentials for progress tracking
            </div>
            
            <div class="form-row" data-bind="css: { error: !username.isValid() && showError() }">
                <div class="form-control-wrapper">
                    <div class="placeholder" data-bind="visible:!username()">
                        <span data-translate-text="[tracking and tracing name field]"></span>
                    </div>
                    <input class="form-control"  type="text" data-bind="value: username, valueUpdate: 'afterkeydown',backgroundBinding:content" />
                    <span class="form-control-message" data-bind="visible: !username.isValid() && showError()" data-translate-text="[tracking and tracing name is not valid]">Fill in your name</span>
                </div>
            </div>
            <div class="form-row" data-bind="css: { error: !email.isValid() && showError() }">
                <div class="form-control-wrapper">
                    <div class="placeholder" data-bind="visible:!email()">
                        <span data-translate-text="[tracking and tracing email field]"></span>
                    </div>
                    <input class="form-control" type="email" data-bind="value: email, valueUpdate: 'afterkeydown'" />
                    <span class="form-control-message" data-bind="visible: !email.isValid() && showError()" data-translate-text="[tracking and tracing email is not valid]">Enter a valid e-mail</span>
                </div>
            </div>
            <div class="form-submit">
                <label class="form-label"></label>
                <div class="form-control-wrapper">
                    <button type="submit" class="button success emphasize" data-bind="click: report">
                        <div class="xapi-start-text-wrapper">
                            <span class="xapi-start-text" data-translate-text="[tracking and tracing start]">Start and report my progress</span>
                        </div>
                    </button>
                    <button type="button" class="button do-not-report-button unstyled" data-bind="click: justStart"><span class="button-text" data-translate-text="[tracking and tracing skip reporting]">Do not report, just start</span></button>
                </div>
            </div>
            <div class="xapi-start-agreement">
                * By clicking the button "<span data-translate-text="[tracking and tracing start]">Start and report my progress</span>" you agree to the fact that your results and scores will be stored. These results will only be visible to the organizer (author) of your course.
            </div>
        </div>
       
    </form>
</section>
