<section class="multiplechoice">
    <hr />
    <!-- ko if: content -->
    <div class="question-content">
        <div data-bind="html: content"></div>
    </div>
    <!-- /ko -->
    <div>
        <ul class="unstyled">
            <!-- ko foreach: options -->
            <li>
                <label class="radio" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">
                    <span class="radio-image-wrapper">
                        <span class="radio-image"></span>
                    </span>
                    <label class="radio-text" data-bind="text: text"></label>
                </label>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</section>