<section class="ranking-text">

    <!-- ko if: content -->
    <div class="question-content">
        <div class="styled-content" data-bind="html: content, wrapElements: content"></div>
    </div>
    <!-- /ko -->
    <div data-bind="dragula: { data: rankingItems, afterDrop: markDirty }" class="gu-unselectable">
        <div class="ranking-item gu-draggable">
            <span class="ranking-item-icon"></span>
            <span class="ranking-item-text" data-bind="text: text"></span>
        </div>
    </div>
</section>