<section>
    <div class="logo-header">
        <div class="container-content-wrapper">
            <div class="logo-holder">
                <!-- ko if: hasLogo -->
                <img class="logo" data-bind="attr: { src: logoUrl }" />
                <!-- /ko -->
                <!-- ko ifnot: hasLogo -->
                <div class="logo default"></div>
                <!-- /ko -->
            </div>

            <!-- ko if: closeCourseDropdownVisibility -->
            <div class="save-progress-container">
                <span></span>
                <button data-bind="dropDown:{}"></button>
                <ul >
                    <li  data-translate-text="[save and continue later]" data-bind="click:close">save and continue later</li>
                    <li data-translate-text="[finish course]" data-bind="click:openFinishPopup">Finish course</li>
                </ul>
            </div>    
            <!-- /ko -->
        </div>
     </div>
    
    <!-- ko if: finishPopupVisibility -->
    <!-- ko compose: { view: 'dialogs/finishCourse', model: 'dialogs/finishCourse', activationData: {finish:$root.finish, close: $root.closeFinishPopup}} -->
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: isClosed() -->
       <div class="screen-blocker"></div>
    <!-- /ko -->



    <div class="title-background">
        <div class="container-content-wrapper">
            <div class="title">
                <h1 data-bind="text: title"></h1>
            </div>

        </div>
    </div>



    <div class="container-content-wrapper">
        <div data-bind="if: activeItem.isComposing">
            <div class="loader"></div>
        </div>
         <div data-bind="visible: !activeItem.isComposing() ">
            <div data-bind="compose: { model: activeItem, activationData: activeItem.activationData, compositionComplete: activeItem.compositionComplete }"></div>
        </div>
    </div>
</section>
