<section class="singleselectimage">

    <!-- ko if: content -->
    <div class="question-content">
        <div class='styled-content' data-bind="html: content,wrapElements:content"></div>
    </div>
    <!-- /ko -->
    <ul>
        <!-- ko foreach: options -->
        <li class="radio image" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">
            <div class="radio-image-wrapper" data-bind="thumbnail: image"></div>
            
        </li>
        <!-- /ko -->
    </ul>

</section>