<section class="singleselect">

        <!-- ko if: content -->
    <div class="question-content">
        <div class='styled-content' data-bind="html: content,wrapElements:content"></div>
    </div>
    <!-- /ko -->
    <div>
        <ul class="unstyled">
            <!-- ko foreach: options -->
            <li>
                <label class="radio text" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">
                    <span class="radio-icon-wrapper">
                        <span class="radio-icon"></span>
                    </span>
                    <label class="radio-text" data-bind="text: text"></label>
                </label>
            </li>
            <!-- /ko -->

        </ul>
    </div>
</section>