<section class="singleselectimage">
    <hr />
    <!-- ko if: content -->
    <div class="question-content">
        <div data-bind="html: content"></div>
    </div>
    <!-- /ko -->
    <ul>
        <!-- ko foreach: options -->
        <li class="radio image" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">
            <div class="radio-image-wrapper preview-thumbnail">
                <div class="radio-image" data-bind="thumbnail: image"></div>
                <button data-bind="click: preview" class="preview-open"></button>
            </div>
            <div class="radio-icon-wrapper">
                <span class="radio-icon"></span>
            </div>
        </li>
        <!-- /ko -->
    </ul>
</section>